@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-default: #202020;
  --primary-color-300: #2e2e2e;
  --primary-color-500: #1e1e1e;

  --navigator-height: 4rem;
}

html,
body,
#root {
  height: 100%;
}

* {
  color: #fff;
}
